* {
	box-sizing: border-box;
	/*font-size: 1.125rem;*/
}

@font-face {
	font-family: LuckiestGuy;
	src: url("LuckiestGuy.ttf");
}

@font-face {
	font-family: "Miss Smarty Pants";
	src: url("Miss Smarty Pants.ttf");
}


body {
	background: lightgrey;
}

 button {
	background-color: transparent;
	border: none;
}

input[type='submit'] {
	background-color: black;
	color: white;
	border: none;
}

input[type='text'] {
	padding-left: 5px;
	border: none;
}

button:focus,
input[type='submit']:focus,
input[type='text']:focus {
	outline: none;
}

p.playerSelectUI {
	margin-top: 0;
}

input.playerSelectUI {
	margin-bottom: 0px;
}

h1#p1Heading,
h1#p2Heading {
	margin-top: 0;
	background: black;
	color: white;
}

div.gameDisplay h2 {
	margin-top: 0;
}

#player1Name,
#player2Name {
	margin-bottom: 30px;
}

#gameHeader {
	margin-top: 0;
	background: black;
	color: white;
}

#gameHeader h1 {
	margin: 0;
}
.luckyFont {
	font-family: LuckiestGuy;
    letter-spacing: 2px;
}

.missSkinnyFont {
	font-family: "Miss Smarty Pants";
	font-weight: bold;
}

.container {
	width: 55%;
	margin: 30px auto;
}

.usernameInput {
	text-align: center;
	height: 100px;
	padding-top: 15px;
	background: black;
	color: white;
}

.playerContainer {
	display: flex;
	height: 55vh;
	background: #eee;
}

.left-col,
.right-col {
	border-left: 1px solid black;
	border-right: 1px solid black;
}

.left-col,
.right-col {
	width: 20%;
	text-align: center;
}

.center-col {
	width: 60%;
	text-align: center;
}

.gameDisplay {
	height: 60%;
}

.chatContainer {
	margin: auto;
	height: 40%;
	/*border-left: 1px solid black;*/
	text-align: center;
}

.chatContainer h3 {
	display: inline-block;
	margin: 0;
}

.chatWindow {
	height: 100px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: auto;
	word-break: break-all;
	border-left: 1px solid black;
	border-bottom: 1px solid black;
	color: black;
}

.chatHeader {
	/*border-left: 1px solid red;*/
}

h3.chatHeader  {
	display: block;
	background: black;
	color: white;
	margin-top: 0px;
}

.leftBump {
	margin-left: 10px;
}

#chatField {
	width: 85%;
}

#chatBtn {
	width: 15%;
	background: black;
	color: white;
	border-bottom: 1px solid black;
}

