* {
	box-sizing: border-box;
}

.container {
	width: 60%;
	margin: 30px auto;
}

.usernameInput {
	text-align: center;
}

.playerContainer {
	display: flex;
}

.chatWindow {
	text-align: center;
}

.left-col,
.center-col,
.right-col {
	border: 1px solid black;
}

.left-col,
.right-col {
	width: 25%;
	text-align: center;
}

.center-col {
	width: 50%;
	/*height: 300px;*/
	text-align: center;
}

.gameDisplay {
	height: 200px;
}

.chatContainer {
	margin: auto;
	border: 1px solid black;
	text-align: center;
}

.chatContainer h3 {
	display: inline-block;
	margin: 0;
}
 
.chatWindow {
	height: 100px;
	text-align: left;
	overflow-y: scroll;
	overflow-x: auto;
	word-break: break-all;
}

#chatField {
	width: 85%;
}

#chatBtn {
	width: 15%;
}

 button {
	background-color: transparent;
	border: none;
}